.layout-wrapper {
  display: flex;
  min-height: 100vh; /* Que ocupe todo el alto de la pantalla */
}

.sidebar {
  width: 250px; /* Ancho fijo para tu menú */
  background-color: #18181b;
}

.layout-content {
  flex: 1; /* Que ocupe el resto del espacio disponible */
  display: flex;
  flex-direction: column;
}

main {
  padding: 2rem;
  flex: 1; /* Empuja al footer hacia abajo */
}

footer {
  padding: 1rem;
  text-align: center;
}
